@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #94B4C1;
}

.card-hight {
    height: 300px;
    overflow-y: auto;
}

.hover-scale:hover {
    position: relative;
    bottom: 5px;
    box-shadow: 7px 7px 0px rgba(84, 119, 146, 1);
}

.hover-color:hover {
    background-color: rgba(148, 180, 193, 0.65);
    transition: .5s;
}

.hover-color {
    transition: .5s;
}

.text-bg-new {
    background-color: #213448;
}